@import "tailwindcss";

/* Background for entire app so page gutters match the pages */
html, body, #root {
  height: 100%;
  background: #f6f7f8;
}

/* You can keep or re-add any base resets or custom styles below if needed */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.swal2-popup .swal2-icon.swal2-warning ~ .swal2-actions .swal2-cancel,
.swal2-cancel-warning {
  display: none !important;
}