
body {
	margin: 0;
	padding: 0;
	font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	overflow-x: hidden;
}

.editar-dados-container {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: url('../../assets/vertical-shot-branches-green-tree-perfect-background.jpg') no-repeat center center fixed;
	background-size: cover;
	box-sizing: border-box;
	background-blend-mode: darken;
	padding-bottom: 40px;
	overflow-x: hidden; 
	overflow-y: auto;   
	font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.titulo-editar-dados {
	color: #fff;
	font-size: 2.2rem;
	font-weight: 600;
	margin-top: 48px;
	margin-bottom: 32px;
	text-align: center;
	text-shadow: 0 2px 8px rgba(0,0,0,0.4);
	font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}


.salvar-btn {
	margin-top: 18px;
	width: 320px;
	max-width: 90vw;
	padding: 12px 0;
	background: #489465;
	color: #fff;
	border-radius: 24px;
	font-size: 1.1rem;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 2px 8px rgba(0,0,0,0.13);
	transition: background 0.3s;
	font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.salvar-btn:hover {
	background: #366036;
}

