.questionario-wrapper {
    background-image: url('../../assets/background-questionario.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.questionario-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.questionario-container {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    max-width: 900px; /* Reduzindo a largura máxima */
    width: 90%; /* Garante responsividade */
    margin: 0 auto;
    background-color: white;
    border-radius: 16px;
}

.questionario-content {
    flex: 1;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    min-height: 200px;  /* Reduzindo a altura mínima */
    max-height: 450px; /* Reduzindo a altura máxima */
    width: 100%; /* Controla a largura */
    max-width: 550px; /* Limita a largura máxima */
    display: flex;
    flex-direction: column;
}

.question-text {
    color: #333;
    margin-bottom: 2rem;
    flex: 0 0 auto; /* Impede que o texto expanda a div */
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    flex: 1;  /* Permite que as opções ocupem o espaço restante */}

.option-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.option-label:hover {
    background-color: #f5f5f5;
}

.option-text {
    color: #333;
}

.question-navigator {
    width: 250px; /* Reduzindo um pouco a largura do navegador */
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    height: 100% /* Ajusta a altura ao conteúdo */
}

.navigator-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.navigator-button {
    padding: 0.5rem;
    border: 1px solid #ddd;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.navigator-button:hover {
    background: #2d6b43;
    color: white;
    border-color: #2d6b43;
}

.questionario-content h2 {
    color: #2d6b43;
    margin-bottom: 1rem;
}

.question-navigator h3 {
    color: #2d6b43;
    text-align: center;
    margin-bottom: 1rem;
}

.navigator-button.answered {
  background-color: #2d6b43;
  color: white;
  border-color: #2d6b43;
}

.navigator-button.active {
    border: 2px solid #2d6b43;
    font-weight: bold;
}