.home-container-agenda {
  font-family: "Arial", sans-serif;
  color: #00331f;
  padding: 0 160px 80px 160px;
  margin-top: 70px;
}

.header-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.imagem-guia {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.imagem-guia img {
  width: 100%;
  height: 95%;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}

.nome-convites-guia {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome-guia {
  font-size: 42px;
  color: #0C513F;
  font-weight: lighter;
}

.nome-convites-guia button {
  background-color: #336948;
  color: #fff;
  padding: 8px 90px;
  font-size: 26px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.4s ease;
}

.nome-convites-guia button:hover {
  background-color: #213f2c;
}

.space-agenda {
  width: 100%;
  height: auto;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.space-agenda p {
  font-size: 42px;
  color: #336948;
}

.agenda-aventureiro {
  background-color: #E9E9E9;
  height: 95%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 85%;
  border-radius: 12px;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
}

.linha span {
  color: #154734;
  font-size: 32px;
  flex: 1;
}

.btn-info {
  background: #336948;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s ease;
}

.btn-cancel {
  background: #8b1e0b;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s ease;
}

.btn-info:hover {
  background-color: #0c473a;
}

.btn-cancel:hover {
  background-color: #FF3D00;
}