.guia-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  gap: 40px;
}

.guia-texto {
  max-width: 50%;
}

.guia-texto h2 {
    font-size: 2rem;
    color: #23423a;
    margin-bottom: 32px;
    font-weight: 400;
}

.guia-texto h4 {
    color: #7bbf7f;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.guia-texto p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #34495e;
}

.guia-depoimento {
  font-style: italic;
  margin-bottom: 20px;
}

.guia-depoimento span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #7f8c8d;
}

.guia-proximo {
   padding: 12px 32px;
    border-radius: 8px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;
}

.guia-proximo:hover {
  background-color: #0b6330;
}

.guia-imagem img {
  width: 350px;         /* Largura fixa */
  height: 450px;        /* Altura fixa */
  object-fit: cover;    /* Garante que a imagem preencha sem distorcer */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}