.lista-convites-wrapper {
    background-image: url('../../assets/background-questionario.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.lista-convites-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.lista-convites-container {
    background-color: #D9D9D9;
    border-radius: 8px;
    height: 80vh;
    width: 90vw;
    padding: 3vh 2vw 6vh;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    z-index: 2;
}

.lista-convites-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
    z-index: 2;
}

.lista-convites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
    color: #0C513F;
    width: 100%;
    text-align: center;
    /* margin-bottom: 2vh; */
}

.lista-convites-header span {
    font-size: 2rem;
    font-weight: 100;
    color: #0C513F;
}

.lista-convites-body {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.3vh;
    border-radius: 16px;
    padding: 2.5vh 2.5vw;
    overflow-y: auto;
    background-color: #E6E6E6;
}

.lista-convites-btns {
    display: flex;
    justify-content: space-between;
    width: 45%;
    column-gap: 3vw;
    align-items: center;
}

.lista-convites-item {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-convites-info {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
}

.lista-convites-info span {
    font-size: 1.5rem;
    color: #0C513F;
    font-weight: 500;
    /* margin-left: 1vw; */
}

.lista-convites-btn-green {
    background-color: #336948;
    width: 75%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    border-radius: 8px;
    cursor: pointer;
}

.lista-convites-btn-red {
    background-color: #FF3D00;
    width: 75%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    border-radius: 8px;
    cursor: pointer;
}

.lista-convites-btn-gray {
    background-color: #9CA0B0;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    border-radius: 8px;
    cursor: pointer;
}


